# Ignore my research data and results
input/
output/

# Ignore Python "junk" (temporary files created when you run the script)
__pycache__/
*.pyc

# Ignore hidden system files (Mac/Windows clutter)
.DS_Store
Thumbs.db